<style>
    .message-content {
        font-family: Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 21px;
    }

    .message-content span {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 700;
    }
</style>

<div class="message-content">
    <p>Olá, {{name}}</p>
    <p>Seja Bem-vindo ao Cardapio Digital.</p>
    <p>Para continuar, clique no link abaixo e comece a criar seu cardápio!</p>
    <p>É rápido, é prático e simples como deve ser ;)</p>
    <p>
        <a href="{{link}}">Site</a>
    </p>
    <p>Boas vendas!</p>
    <p>Obrigado!<br />
        <strong>Equipe Cardapio</strong>
    </p>
    <p>
        <span>Hummm ficou com alguma dúvida? Entre em contato com a gente, <a href="mailto:sistema@dstudium.com">sistema@dstudium.com</a> </span>
    </p>
</div>